
# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
env/
venv/
.venv/
conda-env/

# System files
.DS_Store


# Data files
data/raw/*
data/cleaned/*

!data/raw/.gitkeep
!data/cleaned/.gitkeep



# VS Code settings
.vscode/

